# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key

# Set MongoDB Connection String
MONGODB_CONNECTION_STRING=

# Authentication
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_AUTHENTICATE_URL=https://github.com/login/oauth/authorize
OAUTH_ACCESS_TOKEN_URL=https://github.com/login/oauth/access_token
OAUTH_USER_URL=https://api.github.com/user

# Authorization
ROLE_WRITER_USERS=