{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">To-Do App</h1>
  <p class="lead">Just another to-do app.</p>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Add New To-Do Item</h2>
    <form action="/" method="post" class="form-group">
      <div class="input-group mb-3">
        <input type="text" name="title" id="title" class="form-control" maxlength="250" placeholder="Enter Item Title"
          aria-label="Enter Item Title" aria-describedby="inputGroup-sizing-default" required>
        <button type="submit" id="add-item" class="btn btn-outline-primary">Add</button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>To-Do List</h2>


    <div class="container">
      <div class="row">
        <div class="col">
          <a href="/sortby/id" class="list-group-item list-group-item-action{{' active' if sort.column == 'id' else ''}}" aria-current="true">Id</a>
        </div>
        <div class="col-7"> <a href="/sortby/title" class="list-group-item list-group-item-action{{' active' if sort.column == 'title' else ''}}">Title</a></div>
        <div class="col"> <a href="/sortby/status" class="list-group-item list-group-item-action{{' active' if sort.column == 'status' else ''}}">Status</a></div>
        <div class="col"> </div>
      </div>
      {% for item in items%}
      <div class="row">
        <div class="col">
          {{item.id}}
        </div>
        <div class="col-7">
          {{item.title}}
        </div>
        <div class="col">
          {{item.status}}
        </div>
        <div class="col-2">
          {% if item.status != 'Completed'%}
          <a href="/markcomplete/{{ item.id }}" class="btn btn-outline-secondary btn-sm">Mark Complete</a>
          {% endif %}
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
</div>

{% endblock %}